<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="650px" fxFlex.xs="100%">
    <h1>Shipping Label Maker</h1>
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <mat-card-content mat-align-tabs="center" class="wizard-tabs">
      <mat-tab-group mat-strech-tabs [selectedIndex]="wizardIndex">
        <mat-tab label="Receiver Address">
          <app-receiver-address (receiverOutput)="updateReceiverInfo($event)"></app-receiver-address>
        </mat-tab>
        <mat-tab label="Sender Address">
          <app-sender-address (senderOutput)="updateSenderInfo($event)"></app-sender-address>
        </mat-tab>
        <mat-tab label="Weight">
          <app-weight (weightOutput)="updateWeightInfo($event)"></app-weight>
        </mat-tab>
        <mat-tab label="Shipping Option">
          <app-shipping (shippingOutput)="updateShippingInfo($event)"></app-shipping>
        </mat-tab>
        <mat-tab label="Confirm">
           <app-confirm [shippingInfo]="shippingInfo"></app-confirm>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</section>