

<p>sender-address works!</p>


<!-- <mat-card fxFlex="650px" fxFlex.xs="100%" *ngIf="!showGreeter">
  <mat-card-title class="title_large">{{'register.welcome' | translate}}</mat-card-title>
  <mat-card-title class="title_small">{{'register.info' | translate}} <a href="" routerLink="../login">{{'register.login'
      | translate}}</a>.
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" fxLayoutAlign="left right" novalidate autocomplete="off" fxLayout="column"
      (ngSubmit)="onFormSubmit()">
      <div>

        <div fxLayout="row" fxLayoutGap="10%" fxLayout.xs="row wrap" fxLayoutGap.xs="0">
          <mat-form-field fxFlex="50%" fxFlex.xs="100%" appearance='outline'>
            <mat-label>{{'register.name_label' | translate}}</mat-label>
            <input matInput formControlName="firstname" name="firstname">
            <mat-error *ngIf="registerForm.hasError('required','step1.firstname')">{{'error.firstname_required' |
              translate}}</mat-error>
            <mat-error *ngIf="registerForm.hasError('maxlength', 'step1.firstname')">{{'error.maxlength_60' |
              translate}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50%" fxFlex.xs="100%" appearance='outline'>
            <mat-label>{{'register.lastname_label' | translate}}</mat-label>
            <input matInput formControlName="lastname" name="lastname">
            <mat-error *ngIf="registerForm.hasError('required', 'step1.lastname')">{{'error.lastname_required' |
              translate}}</mat-error>
            <mat-error *ngIf="registerForm.hasError('maxlength', 'step1.lastname')">{{'error.maxlength_60' |
              translate}}</mat-error>
          </mat-form-field>
        </div>
        </div>
 -->
